<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Cuenta</h1>
    <form action="" id="form-container">
        <input type="email" id="user-email" placeholder="Correo" required>
        <input type="password" id="user-password" placeholder="Contraseña" required>
        <button type="button" class="button" id="signin-btn">Crear Cuenta</button>
    </form>
    <a href="../index.html">inicio sesion</a>
    <script type="module" src="../controllers/signup.js"></script>
</body>
</html>